@charset "UTF-8";
/* CSS Document */

/*=======================================
基本設定
想定端末　iPhone SE portrait 320×568
=========================================*/
body{
-webkit-text-size-adjust:100%;
font-family: sans-serif;
background-color: #FEF5FF !important;
}

div#wrapper{
position: relative;
}

/*ヘッダーここから*/
header{
background-color: rgba(249,197,255,0.9);
height: 30px;
padding: 10px 0px;
text-align: center;

position: fixed;
top: 0px;
right: 0px;
bottom: auto;
left: 0px;
z-index: 10000;
}

header img{
height: 30px;
width: auto;
}
/*ヘッダーここまで*/

/*ハンバーガーメニューここから*/
/*ハンバーガーメニュー見た目ここから*/
label#hamburger{
display: block;
width: 40px;
height: 40px;
background-color: #E877DD;
border-radius: 0px 0px 4px 4px;

position: fixed;
top: 0px;
right: 15px;
bottom: auto;
left: auto;
z-index: 15000;
}
/*ハンバーガーメニュー見た目ここまで*/

/*ハンバーガーメニューの真ん中の線ここから*/
label#hamburger span{
display: block;
width: 30px;
height: 2px;
background-color: #FFFFFF;

position: absolute;
top: 20px;
right: auto;
bottom: auto;
left: 5px;

transition-duration: 500ms;
}

input#trigger:checked + label#hamburger span{
opacity: 0;
}
/*ハンバーガーメニューの真ん中の線ここまで*/

/*ハンバーガーメニュー一番上の線ここから*/
label#hamburger::before{
content: "";
display: block;
width: 30px;
height: 2px;
background-color: #FFFFFF;

position: absolute;
top: 13px;
right: auto;
bottom: auto;
left: 5px;

transition-duration: 500ms;
}

input#trigger:checked + label#hamburger::before{
top: 20px;
transform: rotate(45deg);
}
/*ハンバーガーメニュー一番上の線ここまで*/

/*ハンバーガーメニュー一番下の線ここから*/
label#hamburger::after{
content: "";
display: block;
width: 30px;
height: 2px;
background-color: #FFFFFF;

position: absolute;
top: 27px;
right: auto;
bottom: auto;
left: 5px;

transition-duration: 500ms;
}

input#trigger:checked + label#hamburger::after{
top: 20px;
transform: rotate(-45deg);
}
/*ハンバーガーメニュー一番下の線ここまで*/

/*チェックボックスの非表示ここから*/
input#trigger{
display: none;
}
/*チェックボックスの非表示ここまで*/
/*ハンバーガーメニューここまで*/

/*ドロワーメニューここから*/
nav{
background-image: linear-gradient(0deg,#FFFFFF 0%,#F7D1F4 18%,#F6CBF3 48%,#E28DDE 100%);
width: 0px;
overflow: hidden;

position: fixed;
top: 0px;
right: 0px;
bottom: 0px;
left: auto;
z-index: 13000;

transition-duration: 500ms;
}

/*ドロワーメニューの伸び縮み指定ここから*/
input#trigger:checked + label#hamburger + nav{
height: 100vh;
width: 50vw;
}
/*ドロワーメニューの伸び縮み指定ここまで*/

/*カバーレイヤー（暗くなる部分）の指定ここから*/
label#coverlayer{
background-color: rgba(0,0,0,0.7);

position: fixed;
top: 0px;
right: 0px;
bottom: 0px;
left: auto;
z-index: 12000;

transition-duration: 500ms;
}

input#trigger:checked + label#hamburger + nav + label#coverlayer{
width: 100vw;
}
/*カバーレイヤー（暗くなる部分）の指定ここまで*/

nav ul{
font-size: 15px;
text-align: center;
padding-top: 45px;
overflow: auto;
}

nav ul li{
margin-bottom: 45px;
}

nav ul li a{
display: block;
line-height: 30px;
width: 100px;
margin: 0px auto;
color: #FFFFFF;
text-decoration: none;
}

nav ul li.now a{
font-weight: 700;
}

/*ドロワーメニューここまで*/

/*フッターここから*/
footer{
background-color: rgba(249,197,255,0.9);
height: 30px;
padding: 20px 0px 0px;
text-align: center;
font-size: 13px;
line-height: 1;
color: #FFFFFF;
}
/*フッターここまで*/

/*上に戻るボタンここから*/
aside#scrolltop a{
display: none;
}
/*上に戻るボタンここまで*/

/*========================================
想定端末　小型のAndroid portrait 360×640
==========================================*/
@media screen and (min-width:360px){



}/*小型のAndroid portrait 360×640ここまで*/


/*========================================
想定端末　iPhone6,7,8 portrait 375×667
==========================================*/
@media screen and (min-width:375px){



}/*iPhone6,7,8 portrait 375×667ここまで*/


/*========================================
想定端末　iPhoneX,Xs,11pro portrait 375×812
==========================================*/
@media screen and (min-width:375px) and (min-height:668px){



}/*iPhoneX,Xs,11pro portrait 375×812ここまで*/


/*========================================
想定端末　iPhone6plus,7plus,8plus portrait 414×736
==========================================*/
@media screen and (min-width:414px){



}/*iPhone6plus,7plus,8plus portrait 414×736ここまで*/


/*========================================
想定端末　iPhoneXR,11 portrait 414×896
==========================================*/
@media screen and (min-width:414px) and (min-height:737px){



}/*iPhoneXR,11 portrait 414×896ここまで*/










/*↑スマートフォン縦ここまで
==============================================================================================================================================================================================================================================================================================================================================================================================================================================================================
↓スマートフォン横ここから*/


/*========================================
想定端末　iPhoneSE landscape 568×320
==========================================*/
@media screen and (min-width:568px){

input#trigger:checked + label#hamburger + nav{
width: 30vw;
}

}/*iPhoneSE landscape 568×320ここまで*/


/*========================================
想定端末　小型のAndroid landscape 640×360
==========================================*/
@media screen and (min-width:640px){



}/*小型のAndroid landscape 640×360ここまで*/


/*========================================
想定端末　iPhone6,7,8 landscape 667×375
==========================================*/
@media screen and (min-width:667px){



}/*iPhone6,7,8 landscape 667×375ここまで*/


/*========================================
想定端末　iPhone6plus,7plus,8plus landscape 736×414
==========================================*/
@media screen and (min-width:736px){



}/*iPhone6plus,7plus,8plus landscape 736×414ここまで*/



/*========================================
想定端末　iPhoneX,Xs,11pro landscape 812×375
==========================================*/
@media screen and (min-width:812px){

label#hamburger{
right: 40px;
}

}/*iPhoneX,Xs,11pro landscape 812×375ここまで*/


/*========================================
想定端末　iPhoneXR,11 landscape 896×414
==========================================*/
@media screen and (min-width:896px){



}/*iPhoneXR,11 landscape 896×414ここまで*/










/*↑スマートフォン横ここまで
==============================================================================================================================================================================================================================================================================================================================================================================================================================================================================
↓タブレット縦ここから*/



/*========================================
想定端末　iPad 9.7 portrait 768×1024
==========================================*/
@media screen and (min-width:768px) and (min-height:415px){

br.sp{
display: none;
}

header{
height: 40px;
text-align: start;
padding: 15px 30px;
display: flex;
justify-content: space-between;
}

header img{
height: 40px;
width: auto;
}

nav{
position: static;
width: 280px;
height: auto;
background-image: none;
overflow: visible;
padding: 2px 0px;
}

nav ul{
display: flex;
justify-content: space-between;
padding-top: 0px;
font-size: 18px;
}

nav ul li{
margin-bottom: 0px;
}

nav ul li:nth-of-type(1){
display: none;
}

nav ul li.now a{
font-weight: 400;
color: #FF0064;
}

nav ul li a{
line-height: 36px;
width: 80px;
margin: 0px;
}

label#hamburger,
label#coverlayer{
display: none;
}

input#trigger:checked + label#hamburger + nav{
width: auto;
height: auto;
}

/*フッターここから*/
footer{
height: 50px;
padding: 20px 0px 0px;
text-align: center;
font-size: 15px;
line-height: 1;
color: #FFFFFF;
}
/*フッターここまで*/

}/*iPad 9.7 portrait 768×1024ここまで*/


/*========================================
想定端末　iPad Air portrait 834×1112
==========================================*/
@media screen and (min-width:834px) and (min-height:415px){



}/*iPad Air portrait 834×1112ここまで*/



/*========================================
想定端末　iPad Pro 11 portrait 834×1169
==========================================*/
@media screen and (min-width:834px) and (min-height:1113px){



}/*iPad Pro 11 portrait 834×1169ここまで*/


/*========================================
想定端末　iPad Pro 12.9 portrait 1024×1366
==========================================*/
@media screen and (min-width:1024px){



}/*iPad Pro 12.9 portrait 1024×1366ここまで*/









/*↑タブレット縦ここまで
==============================================================================================================================================================================================================================================================================================================================================================================================================================================================================
↓タブレット横ここから*/


/*========================================
想定端末　iPad 9.7 landscape 1024×768
==========================================*/
@media screen and (min-width:1024px) and (orientation:landscape){



}/*iPad 9.7 landscape 1024×768ここまで*/


/*========================================
想定端末　iPad Air landscape 1112×834
==========================================*/
@media screen and (min-width:1112px){



}/*iPad Air landscape 1112×834ここまで*/


/*========================================
想定端末　iPad Pro 11 landscape 1169×834
==========================================*/
@media screen and (min-width:1169px){



}/*iPad Pro 11 landscape 1169×834ここまで*/


/*========================================
想定端末　iPad Pro 12.9 landscape 1366×1024
==========================================*/
@media screen and (min-width:1366px){



}/*iPad Pro 12.9 landscape 1366×1024ここまで*/










/*↑タブレット横ここまで
==============================================================================================================================================================================================================================================================================================================================================================================================================================================================================
↓PCここから※マウスあり*/


/*========================================
想定端末　PC 1367~
==========================================*/
@media screen and (min-width:1367px){

nav{
width: 400px;
}

nav ul li a{
padding: 0px 10px;
}

nav ul li a:hover{
background-color: rgba(255,0,100,0.3);
transition-duration: 500ms;
}

/*上に戻るボタン*/
aside#scrolltop a{
display: block;
font-size: 20px;
line-height: 40px;
width: 40px;
text-align: center;
color: #FFFFFF;
text-decoration: none;
background-color: rgba(249,197,255,0.75);
border-radius: 50px;
border: solid 1px #FFFFFF;
transition-duration: 500ms;

position: fixed;
top: auto;
right: 30px;
bottom: -150px;
left: auto;
z-index: 11000;
}
aside#scrolltop a:hover{
background-color: rgba(249,197,255,1.0);
}
/*上に戻るボタンここまで*/

}/*PC 1367~ここまで*/

